/**************************************
**    HEADER SECTION                 **
**************************************/
.header{
    margin-top: 3.5rem;
    
    @media(max-width: 460px){
        flex-direction: column;
        justify-content: center;
    }

    &__heading{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 3rem;
        color: $color-grey;
        transition: all .3s;

        @media(max-width: 460px){
            margin-top: 2rem;
            margin-right: 3rem;
        }

        &:hover{
            color: $color-aqua;
            cursor: pointer;
        }
    }

    &__photo{
        display: flex;
        align-items: center;
        height: 5rem;
        width: 5rem;
        // border-radius: 50%;
    }
}

/**************************************
**    HERO SECTION                   **
**************************************/
.hero{
    display: flex;
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-aqua, 0.8),
        rgba($color-green, 0.8)),
        url(../img/jansen_and_i.jpg);
        background-size: cover;
        background-position: top; /*whatever vp top of image stays at top of container*/    
        -webkit-clip-path: polygon(100% 0, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0 0);
        clip-path: polygon(100% 0, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0 0);

        &__text-box{            
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        &__heading-primary{
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden; 
            margin-bottom: 6rem;
        
            &--main{
                display: block;
                font-size: 6rem;
                font-weight: 400;
                letter-spacing: 3.5rem;
            
                animation-name: moveInLeft;
                animation-duration: 1s;
                animation-timing-function: ease-out;

                @media(max-width: 600px){
                    font-size: 1.5rem;
                    letter-spacing: 1.5rem;
                    margin-left: 3rem;
                }
            }
            
            &--sub{
                display: block;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 1.75rem;
                animation: moveInRight 1s ease-out;

                @media(max-width: 600px){
                    font-size: 1.5rem;
                    letter-spacing: 1.5rem;
                    margin-left: 3rem;
                }
            }
        }
}

/**************************************
**    NAVIGATION SECTION             **
**************************************/
.navigation{
    display: flex;
    align-items: center; //vertically align
    justify-content: center;
    align-self: stretch;
    font-size: 1.4rem;
    list-style: none;        

    & >*{
        display: flex;
        align-items: center;
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
    }    

    &__item{            
        transition: all .6s;   
        
        @media(max-width: 385px){
            justify-content: center;
            display: block;
        }
    }

    &__item:hover{
        background-color: $color-aqua;
        background-size: 100%;
        color: #fff;
    }

    &__item:hover &__link{
        color: #fff;
    }

    &__link:link,
    &__link:visited{
        color: $color-grey;
        text-decoration: none;
        text-transform: uppercase;
        align-items: center;
    }

    &__link:focus{
        outline: none;
        border: 1px solid $color-aqua;
    }
}

/**************************************
**    ABOUT SECTION                  **
**************************************/
.about{        
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;    
    padding: 5rem;    
    margin-top: 5rem;
    border-bottom: .2rem solid $color-grey;
    
    // background-color: $color-grey;
    // background: linear-gradient(to right bottom, $color-aqua, $color-green);
    // -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    // clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

    &__icon{
        fill: $color-green;          
    }

    &__text-primary{            
        text-align: center;
        margin-bottom: 5rem;
        margin-top: 5rem;
        color: $color-green;        
        &:hover{        
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }

    &__text-main{                
        justify-content: center;     
        text-transform: uppercase;   
    }

    &__text-sub{                
        justify-content: center;
    }
    
    &__info-box{
        display: flex;  
        flex-direction: column;                   
    }
    
    &__photo{                
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,8.0);        
        margin: 0 auto;               
    }

    &__paragraph{   
        margin-top: 5rem;     
        font-size: 1.2rem;
        color: $color-green;
        font-size: 1.7rem;
        flex-direction: row;        
        margin-bottom: 5rem;

        &--two{              
            font-size: 1.2rem;
            color: $color-green;
            font-size: 1.7rem;
            flex-direction: row;     
            margin: 0 auto;         
        }
    }

    &__skills{
        list-style: none;
        margin: 0 auto;
        text-align: center;
        color: $color-blue;
    }
}

/**************************************
**    PROJECTS SECTION              **
**************************************/
.projects{
    margin-top: 5rem;    
    flex-direction: column;
    font-size: 1.5rem;    
    border-bottom: .2rem solid $color-grey;

    &__icon{
        fill: $color-green;
    }

    &__text-primary{            
        text-align: center;
        margin-bottom: 5rem;
        margin-top: 5rem;
        color: $color-green;        
        &:hover{        
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }

    &__text-main{                
        justify-content: center;     
        text-transform: uppercase;   
    }

    &__text-sub{                
        justify-content: center;

        @media(max-width: 450px){
            font-size: 1.5rem;   
        }
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 0 0 50%;
        justify-content: space-between;
        align-items: center;
        // border: 0.5rem solid $color-grey;
        padding: 1rem;
    }

    &__card{
        
        flex: 1;        
        padding: 5rem;
        margin: 5rem;
        border: 0.3rem solid $color-aqua;
        width: 30%;        
        
        align-items: center;
        justify-content: center;
        background-color: $color-grey;
        transition: all .5s;

        &:hover{
            box-shadow: 0 1rem 2rem rgba(0,0,0,8.0); 
        }
    }

    &__card-title{
        text-align: center;
        color: #fff;
        margin-bottom: 2rem;
    }

    &__card-image{
        text-align: center;
        width: 100%;
        height: 100%;
    }

    &__card-body{
        text-align: center;
    }

    &__card-link{
        text-decoration: none;
        color: #fff;

        &:visited{
            color: $color-blue;
        }
    }
}

/**************************************
**    CONTACT SECTION                **
**************************************/
.contact{
    flex-direction: column;
    font-size: 1.5rem;
    margin-top: 5rem;
    padding: 5rem;
    border-bottom: .2rem solid $color-grey;

    @media(max-width: 1100px){
        flex-direction: column;
    }

    @media(max-width: 630px){
        flex-direction: column;
    }

    &__icon{
        fill: $color-green;
    }

    &__social-link:link,
    &__social-link:visited{
        color: $color-green;
        margin: 1rem 0;
        text-decoration: none;
        text-transform: uppercase;
    }


    &__text-primary{            
        text-align: center;
        margin-bottom: 5rem;
        margin-top: 5rem;
        color: $color-green;        
        &:hover{                    
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }

    &__text-main{                
        justify-content: center;     
        text-transform: uppercase;   
    }

    &__text-sub{                
        justify-content: center;
    }

    &__paragraph{
        font-size: 1.7rem;
        color: $color-green;
    }

    &__follow{
        text-align: center;
        margin: 1rem;
        font-size: 2rem;
        color: $color-green;
        text-transform: uppercase;
        border-bottom: 0.2rem solid $color-green;
        font-weight: bold;        
    }

    &__containment{
        display: flex;        
        flex-direction: row;
        align-items: center;
        margin: 0 auto;    
        
        @media(max-width: 630px){
            flex-direction: column;
            text-align: center;
            align-items: center;
            display: block;
        }
        
        @media(max-width: 320px){
            margin: 0 auto;
        }
    }

    &__social{
        margin-top: 1.5rem;
        padding: 1rem;
        display: flex;        
        flex-direction: column;        
        width: 50%;        
        align-items: center;
        margin-right: 10rem;        

        @media(max-width: 630px){            
            margin: 0 auto;                  
        }

        @media(max-width: 425px){
            margin: 0 auto;
        }

        @media(max-width: 320px){
            margin-left: 3.5rem;
        }
    }

    &__social-icon{
        fill: $color-green;
        flex-basis: 10%;                                        

        &--fb{
            fill: #4267B2;
            width: 2rem;
            height: 2rem;            
        }

        &--twitter{
            fill: #1DA1F2;
            width: 2rem;
            height: 2rem;
        }

        &--in{
            fill: #0077B5;
            width: 2rem;
            height: 2rem;
        }

        &--gh{
            fill: #000;
            width: 2rem;
            height: 2rem;
        }
    }

    &__header{
        text-transform: uppercase;
        color: $color-green;
    }

    &__info{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        padding: 1rem;    
        margin-left: 10rem;  

        @media(max-width: 630px){
            margin: 0 auto;
        }

        @media(max-width: 425px){
            margin: 0 auto;
        }

        @media(max-width: 320px){
            margin-left: 3.5rem;
        }
    }

    &__info-header{
        color: $color-green;
    }

    &__contact--info{
        font-size: 2rem;
        color: $color-grey;
    }
}

/**************************************
**    FOOTER SECTION                 **
**************************************/
.footer{
    align-items: center;
    justify-content: center;    
    flex-direction: row;
    text-align: center;
    font-size: 1.5rem;  
    padding: 1.5rem;
    color: $color-grey;    

    @media only screen and (max-width: 1110px){
        flex-direction: column;
    }

    &__header{
        flex: 1;
        color: $color-green;
    }

    &__paragraph{
        flex: 1;
        color: $color-grey;
        margin-right: 2rem;
    }
}

/**************************************
**    CSS FOR POPUP                  **
**************************************/
.popup{
    height: 100vh;
    width: 100%; // not really needed
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    // Open State
    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close{
        &:link,
        &:visited{
            color: #777;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            transition: all 0.2s;
        }

        &:hover{
            color: $color-aqua;
        }
    }

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;        
        background-color: #fff;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 0.3rem;        
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
        transition: all 0.4s 0.2s;
    }

    &__left{
        width: 33.333333%;
        display: table-cell;
    }

    &__right{
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img{
        display: flex;
        width: 100%;        
    }

    &__heading{
        font-size: 3rem;
        color: $color-aqua;
        margin-bottom: 10rem;
        letter-spacing: 1rem;
    }

    &__paragraph{
        font-size: 1.8rem;
        margin-bottom: 10rem;
        color: $color-grey;
    }

    &__link{
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-green;
    }
}