.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: #fff;
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    border-radius: 5px;

    @media(max-width: $bp-largest){
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7em;
    font-size: 1.4rem;
    background-color: #fff;
    

    @media(max-width: 385px){
        margin-bottom: 3.5rem;
    }    
}

.hero{
    display: flex;
    height: 95vh;
    width: 100%;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    
    @media(max-width: 385px){
        flex-direction: column;
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2.5rem;            
        align-self: center;
        text-align: center;         
    }
}

.about{
    display: flex;
}

.projects{
    display: grid;
}

.contact{
    display: flex;
}

.footer{
    display: flex;
}